<h3>{{viewTitle}}</h3>

<form action="/registration" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{registration._id}}">
    <div class="form-group">
        <label for="fullName">Full name</label>
        <input type="text" name="fullName" id="fullName" class="form-control" value="{{registration.fullName}}">
    </div>
    <div class="form-group">
        <label for="email">Email Id</label>
        <input type="text" name="email" id="email" class="form-control" value="{{registration.email}}">
    </div><div class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="text" name="mobileNumber" id="mobileNumber" class="form-control" value="{{registration.mobileNumber}}">
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="userName">userName</label>
            <input type="text" name="userName" id="userName" class="form-control" value="{{registration.userName}}">
        </div>
        <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" value="{{registration.password}}"> 
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-info" type="submit"><i class="fa fa-database"></i>Submit</button>
        <a  class="btn btn-secondary" href="/registration/list"><i class="fa fa-list-alt"></i>View all</a>
    </div>
</form>